
.bot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space;
  padding:20px;
}


.bot-card {
  border: 10px solid #474545; 
  padding: 10px; 
  border-radius: 5px;
}
.bot-avatar {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.delete-button {
  background-color: red
}
